{%- if site.projects.size > 0 -%}
  <ul>
    {%- assign sorted = site.projects | sort: "path" | reverse -%}
    {%- for post in sorted -%}
    <li>
    <div class="projects">
      <img src="{{ post.image }}" class="project-preview-image">
      {%- assign date_format = "%Y-%m-%d" -%}
      <p class="blog-date">{{ post.range }}</p>
      <h2 class="project-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    </div> 
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
